body > .container{
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif !important;
}

div > .navbar {
	background-color: #3cbdcd;
	color: white;
}

#loc-search-bar {
	width: 300px;
}

div > .navbar > .container {
	margin: 0 100px 0 100px
}

.navbar > .container a {
	color: white;
	font-weight: bolder;
	font-size: 200%;
}

div > .content-container {
	width: 70%;
}

div > .content-container > .row {
	margin-top: 55px;
	height: 650px; 
}

#map-container {
	padding-right: 0;
}

.angular-google-map-container { 
	
	height: 650px; 
}

#places-content-sidebar {
	padding-left: 0;
	padding-right: 0;
	height: 100%; 
	overflow-y:auto;
} 

#places-content-sidebar > #places-sort-bar {
	width: 100%;
	height: 40px;
	background-color: #f8f8f8;
	#line-height: 40px;
	padding: 10px;
}

#places-sort-dd {
	border: none;
	background: transparent;
	padding-top: 0;
	padding-bottom: 0;
}

.place-detail-item {
	height: 25%;
	padding: 10px;
	border-bottom: 1px solid #cacaca;
	font-weight: bold;
}

.row > div >.place-detail-item {
	margin-left: 0;
	margin-right: 0;
}

.row-place-detail-item > div {
	height: 100%;
}

.place-detail-item > .place-detail-id {
	padding: 0;
	width: 20px;
}

.place-detail-item > .place-detail-info {
	padding-left: 0;
}

.place-detail-id > h4 {
	color: #cacaca;
}

.place-detail-header {
	margin: 5px 0 5px 0;
	color: #444444;
	white-space:nowrap;
    overflow:hidden;
}



.place-detail-text > span, #places-sort-dd {
	font-size: 100%;
	color: #676767;
	font-weight: bold;
}

.place-detail-item > .place-photo {
	float: right;
	padding-right: 0
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  }
.star {
    padding: 1px;
    color: #ddd;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
 .star.filled.usd {
      color: #676767;
}

.star.filled {
	color: black;
}